@import "../scss/var";
@import "../scss/form";
@import "../scss/todo-list";
@import "~bootstrap/scss/bootstrap";

body {
  display: $fl;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: center;
}
.container {
  display: $fl;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.error-message {
  color: $error;
}