#list {
    margin-top: 30px;
    width: 70%;
    list-style: none;
    padding: 0;
    text-align: center;
    .list-item {
      display: $fl;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $gap;
      background-color: grey;
      padding: 10px $gap;
      border-radius: 10px;
      -webkit-box-shadow: 1px 9px 12px 8px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 1px 9px 12px 8px rgba(0, 0, 0, 0.55);
      box-shadow: 1px 9px 12px 8px rgba(0, 0, 0, 0.55);
      .todo-check {
        cursor: pointer;
      }
    }
  }